.Navbar {
    margin: 0 auto;
    display: flex;
    width: 100vw;
    padding: 10px 15px;
    box-sizing: border-box;
    /* background-color: white; */
    color: white;
    justify-content: space-between;
    align-items: center;
}
.Navbar h1 {
    margin: 0;
    padding-left: 20px;
    color: white;
    position: relative;
}
.NavbarIcon {
    width: 20px;
    height: 28px;
    padding: 0;
    position: absolute;
    top: 4px;
    left: 0;
}
.Navlist {
    display: none;
}
.SideDrawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    color: black;
    width: 60%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 200;
    position: fixed;
    background-color: white;
    /* transition: all 0.8s ease-in-out; */
}
.BurgerButton {
    width: 30px;
    display: grid;
    gap: 5px;
    cursor: pointer;
}
.BurgerButton>div {
    background-color: white;
    height: 2px;
}
.SideDrawer img {
    width: 50px;
    height: 50px;
    left: 0;
    cursor: pointer;
}

.SideDrawerList {
    width: 100%;
    padding: 20px 10px;
    margin: 0;
    box-sizing: border-box;
}
.SideDrawer li {
    padding: 10px 0;
}
.SideDrawerList li a {
    font-weight: bold;
}

.closed {
    opacity: 0;
    right: -60%;
    transition: all 0.5s ease-in-out;
}

.open {
    opacity: 1;
    right: 0;
    transition: all 0.5s ease-in-out;
}

@media (min-width: 667px) {
    .Navbar {
        padding: 0 50px;
        flex-flow: row;
        justify-content: space-between;
    }
    .NavbarIcon {
        width: 20px;
        height: 28px;
        padding: 0;
        position: absolute;
        top: 4px;
        left: 30px;
    }
    .Navbar h1 {
        margin: 0;
        padding-left: 50px;
    }
    .Navlist {
        display: flex;
    }
    .BurgerButton {
        display: none;
    }
    .SideDrawer {
        display: none;
    }
    .Navlist li {
        list-style: none;
        padding: 10px;
        transition: all 0.3s ease-in-out;
    }
    .Navlist li:hover {
        text-shadow: 10px 10px 10px 0 black;
        transform: scale(1.2);
        font-weight: bold;
    }
}