.Maincontent {
    padding: 20px;
    background-color: aliceblue;
    display: grid;
    gap: 50px;
}
.SubTitle {
    font-weight: bolder;
    font-size: 1.3em;
    display: flex;
    position: relative;
}
/* .SubTitle::before {
    content: "";
    background-color: cornflowerblue;
    width: 10px;
    height: 35px;
    margin-right: 5px;
    top: -5px;
    left: 0px;
    position: relative;
    display: inline-block;
} */
.Display {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.TechDisplay {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
}
.TechIcons {
    width: 40px;
    height: 45px;
    padding: 5px;
}
.ReduxIcon {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg);
}


@media (min-width: 500px) {
    .Maincontent {
        padding: 50px;
    }
    .Maincontent section {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .SubTitle {
        font-size: 1.6em;
        /* padding-left: 50px; */
        /* background-color: cornflowerblue; */
        display: inline-flex;
    }
    .SubTitle::before {
        width: 15px;
        height: 50px;
        top: -15px;
    }
    .TechDisplay {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 80%;
        margin: 0 auto;
        /* flex-flow: row; */
        justify-content: space-evenly;
        gap: 50px;
        /* grid-template-columns: repeat(14, 1fr); */
    }
    .TechIcons {
        width: 80px;
        height: 80px;
    }
}


@media (min-width: 900px) {
    .Maincontent section:nth-child(2) {
        position: relative;
    }
    .Maincontent section {
        width: 65%;
    }
    .ShowmoreBtn {
        position: absolute;
        bottom: -5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}