.App {
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    /* color: white; */
    transition: all 2s ease-in-out;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}
button:disabled {
    cursor: not-allowed;
}

header {
    position: relative;
    height: 50vh;
    width: 100vw;
}
header::after {
    content: '';
    background-color: thistle;
    background-image: url("./assets/images/headerBackground.jpg");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    z-index: -1;
    opacity: 0.8;
}

.Navbar {
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    padding: 0 100px;
    /* background-color: white; */
    color: black;
    justify-content: space-between;
    align-items: center;
}

.Sticky {
    position: sticky;
    background-color: white;
    top: 0;
    width: 100vw;
}

.Navbar>h3 {
    margin: 0;
    padding-left: 50px;
}

.Navlist {
    display: flex;
}

.Navlist>li {
    list-style: none;
    padding: 10px;
    transition: transform 0.4s ease-in;
}
.Navlist>li:hover {
    /* text-shadow: 10px 10px 10px 0 black; */
    transform: scale(1.3);
}

.Intro {
    position: absolute;
    right: 10px;
    top: 30%;
    width: 400px;
}

.IntroTitle {
    font-size: 50px;
    font-weight: bolder;
}

.IntroSubTitle {
    font-weight: 600;
    font-style: italic;
    display: inline-block;
    padding: 2px;
    cursor: pointer;
    color: wheat;
}

.IntroSubTitle::before {
    content: "";
    background-color: cornflowerblue;
    width: 10px;
    height: 25px;
    margin-right: 5px;
    display: inline-block;
}

.IntroSubTitle:hover {
    background-color: cornflowerblue;
}

.Maincontent {
    margin: 0;
}

.Project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    height: 290px;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

.AllProject {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
    box-sizing: border-box;
}
/* .Projects::after {
    content: "Show more";
    display: block;
    position: absolute;
    bottom: 30px;
    left: 47.5%;
    z-index: 3;
    background-color: wheat;
    color: black;
    width: 100px;
    height: 30px;
} */
.ProjectDisplayCard {
    max-height: 300px;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 0 5px 0 silver;
    background-color: aliceblue;
}

.Button {
    border: none;
    background-color: black;
    padding: 5px 20px;
    font-size: 1.2em;
    border-radius: 20px;
    color: wheat;
    cursor: pointer;
}

.Button>a {
    width: 100%;
    height: 100%;
}

.Button:hover {
    color: black;
    background-color: wheat;
}

.BackToTop {
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: burlywood;
    color: white;
    border: none;
    display: grid;
    align-items: center;
}