.PageHeader {
    position: relative;
    height: 40vh;
    width: 100vw;
}
.PageHeader::after {
    content: '';
    background-color: thistle;
    background-image: url("../../assets/images/headerBackground.jpg");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    z-index: -1;
    opacity: 0.75;
}
.HeaderLinks {
    position: absolute;
}
@media (max-width: 499px) {
    .HeaderLinks {
        left: -40px;
        bottom: 30px;
    }
}

@media (min-width: 500px) {
    .PageHeader {
        height: 380px;
    }
    .HeaderLinks {
        bottom: 10px;
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: center;
        padding: 0;
    }
}